* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.font a {
  font-size: clamp(14px, 1vw, 1.5vw);
}
.font-qc-top-left {
  font-size: 16px;
}
/* --------------------------font size menu list------------------- */
.menu-font-list-top a {
  font-size: clamp(10px, 1vw, 1.1vw);
}
.font-menu-qc-left {
  font-size: clamp(14px, 1vw, 1.3vw);
}
/* -------------------------bỏ gạch dưới thẻ a------- */
a {
  text-decoration: none;
}
/* Màu chữ trắng---------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>> */
.fontcolor a {
  color: white;
}
.top {
  background-color: #e9efff;
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
}
.imgtop img {
  max-width: 28%;
  height: auto;
  min-height: 40px;
}
.imgtop-1 {
  float: left;
  margin-left: 25px;
}
.imgtop-3 {
  float: right;
  margin-right: 25px;
}
@media screen and (max-width: 1000px) {
  .imgtop-1,
  .imgtop-2,
  .imgtop-3,
  .top {
    display: none;
  }
}
/* -------------------------------menu top--------------------------*/
.flow-column {
  flex-flow: column;
}
.mgr-logo {
  margin-right: 10px;
}
.logo-top-B img {
  width: 40px;
  height: 35px;
  display: none;
}
.logo-top img {
  width: 155px;
  height: 45px;
}
.menu-list-top {
  background: rgb(221, 1, 1);
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.mglr {
  margin: 0 10px;
}
.block {
  display: block;
}
.menu-list-input input {
  width: 100%;
  height: 35px;
  outline: none;
  border-radius: 8px;
  border: none;
}
.mglr {
  margin: 0 0.6vw;
}
.kt-img-top img {
  width: 22px;
}
.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bdr-menu-list-top {
  border-radius: 8px;
  background-color: #df3346;
  padding: 4px 7px;
}
.dichuot-top-img {
  padding: 5px 7px 5px 7px;
}
/* ---------Di chuột and footer----------------------------- */
@media screen and (min-width: 765px) {
  .dichuot-top-img:hover {
    border-radius: 8px;
    background-color: #df3346;
    padding: 5px 7px 5px 7px;
  }
}
/* /* @media screen and (max-width:765px) {
    .dichuot-top-img{
        pointer-events: none;
    }
    .bamchuot-top-img:active{
        border-radius:8px;
        box-shadow: 1px 1px 2px #df3346;
        padding:5px 7px 5px 7px;
    } 
   
} */
.xuonghang-top {
  white-space: nowrap;
}
/* ----------------------------------kích thước ẩn hiện---------------------------------- */
@media screen and (max-width: 1100px) {
  .chamcau-top p {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}
@media screen and (max-width: 1010px) {
  .menu-list-dh {
    display: none;
  }
}
@media screen and (max-width: 842px) {
  .logo-top img {
    display: none;
  }
  .logo-top-B img {
    display: block;
  }
  .menu-list-dm {
    display: none;
  }
}
/* --------------------------------------------------- */
.tc-footer,
.dm-footer,
.ch-footer,
.dn-footer,
.xt-footer {
  display: none;
}
@media screen and (max-width: 765px) {
  .menu-list-gn,
  .menu-list-vt,
  .menu-list-dn {
    display: none;
  }
  /* input--------------------------- */
  .menu-list-input input {
    width: 100%;
    height: 35px;
  }
  .menu-list-vt,
  .menu-list-gh {
    float: right;
  }
  .menu-list-vttq {
    order: 1;
  }
  .menu-list-vt {
    order: 2;
  }
  .menu-list-gh {
    order: 3;
  }
  .mrst-top {
    margin: 0 2px;
  }
  .menu-list-top {
    background: linear-gradient(to bottom, rgb(221, 1, 1), rgb(250, 128, 128));
  }
  .mg-sau-thu {
    margin: 0 1vw;
  }
  .menu-list-gh,
  .menu-list-vttq {
    border-radius: 8px;
    background-color: #f66475;
    padding: 5px 7px 5px 7px;
  }
  .bamchuot-top-img:active {
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px #ce2c3f;
    padding: 5px 7px 5px 7px;
  }
  /* --------footer--------------------------- */
  .footer-no-c {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 4px 1px rgb(183, 183, 183);
  }
  .footer-no-c-center {
    vertical-align: middle;
  }
  .footer-no-c a {
    color: rgb(58, 58, 58);
  }
  /* chữ-------- */
  .font-footer {
    font-size: clamp(10px, 1vw, 1.1vw);
  }
  .flex-doc {
    flex-flow: column;
  }
  .footer-no-c img {
    width: 20px;
  }
  .tc-footer,
  .dm-footer,
  .ch-footer,
  .dn-footer,
  .xt-footer {
    display: block;
  }
  /* .menu-list-input input{
        width:100%;
    } */
}

/* ------------------------------font chữ khung vị trí đầu trang -------------------- */
.font-vt {
  font-size: clamp(7px, 1vw, 1.1vw);
}
.contro {
  cursor: pointer;
}
/* --------------------Khối quảng cáo đầu trang-------------------------------------- */
.qctop {
  width: clamp(10px, 100%, 1100px);
  min-height: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 0.5%;
}
.qctop-left {
  width: 67.5%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-end-end-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0.2px 0.2px 8px rgb(183, 183, 183);
}
.qctop-left img {
  width: 100%;
  min-height: auto;
}
.qctop-right {
  width: 31.5%;
  height: 410px;
}
.qctop-right img {
  width: 100%;
  height: 32%;
  border-radius: 10px;
}
.menu-qc-top {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
/* .menu-qc-top div {
  color: red;
} */
@media screen and (max-width: 1024px) {
  .menu-top-5 {
    display: none;
  }
}
@media screen and (max-width: 715px) {
  .menu-top-4 {
    display: none;
  }
}
.mrbt {
  margin-bottom: 1%;
}
.mrr {
  margin-right: 1%;
}
@media screen and (max-width: 1000px) {
  .qctop-right {
    display: none;
  }
  .qctop-left {
    width: 98%;
    margin: 0 auto;
  }
  .menu-qc-top {
    height: 40px;
  }
}
@media screen and (max-width: 530px) {
  .menu-qc-top {
    display: none;
  }
}

/* ---------------------Màu test layout------------------------ */
.test1 {
  background-color: rgb(195, 78, 231);
}
/* ---------------------------content------------------ */
.content-qc-img img {
  max-width: 100%;
}
.content-qc-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
}

.content {
  background: #f9405e;
  width: clamp(10px, 100%, 1100px);
  min-height: 250px;
  margin: auto;
  margin-top: 2%;
  border-radius: 15px;
  padding-bottom: 0.6%;
}
.hot-sale-sap-1,
.hot-sale-sap-2,
.hot-sale-sap-3,
.hot-sale-sap-4,
.hot-sale-sap-5 {
  width: 18%;
  height: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 1px 2px 7px rgb(144, 144, 144);
  margin-top: 10px;
  /* margin:1%;  */
}
.tong-content-sp {
  display: flex;
  justify-content: space-around;
}
/* ---------hình sản phẩm----------- */
.img-sale img {
  width: 85%;
  height: 95%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  /* padding:0 10px; */
}
.hot-sp {
  margin-top: 2%;
  color: rgb(58, 58, 58);
  font-size: clamp(14px, 1vw, 1.4vw);
}
.hot-sale-tien-notien {
  margin-top: 10px;
  font-size: clamp(15px, 1vw, 1.2vw);
  display: flex;
  flex-wrap: wrap;
}
.hot-sale-tien {
  color: rgb(206, 0, 0);
  font-weight: bold;
}
.hot-sale-notien {
  color: rgb(110, 110, 110);
  font-size: clamp(12px, 1vw, 1.2vw);
  text-decoration: line-through;
  margin-left: 5px;
  font-weight: bold;
}
.mr2l-sp-tien {
  margin-left: 5px;
}
.hot-sale-yt {
  margin-top: 10px;
  float: right;
  margin-right: 25px;
  padding-bottom: 4%;
}
.hot-sale-yt span {
  font-size: clamp(12px, 1vw, 1.2vw);
  margin-right: 6px;
  color: rgb(139, 139, 139);
}
.sale-tt {
  position: absolute;
}
@media screen and (max-width: 1195px) {
  .hot-sale-sap-5 {
    display: none;
  }
  .hot-sale-sap-1,
  .hot-sale-sap-2,
  .hot-sale-sap-3,
  .hot-sale-sap-4 {
    width: 22.5%;
  }
}
@media screen and (max-width: 980px) {
  .hot-sale-sap-4 {
    display: none;
  }
  .hot-sale-sap-1,
  .hot-sale-sap-2,
  .hot-sale-sap-3 {
    width: 30%;
  }
}
@media screen and (max-width: 540px) {
  .hot-sale-sap-3 {
    display: none;
  }
  .hot-sale-sap-1,
  .hot-sale-sap-2 {
    width: 45%;
  }
}
/* -----------------sp chính ------------------ */
.dt-nb-content {
  width: clamp(10px, 100%, 1100px);
  min-height: 30px;
  background: rgb(255, 255, 255);
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow-x: hidden;   */
}
.dt-nb-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.dt-nb-content a {
  color: rgb(58, 58, 58);
}
.tong-sp-content {
  white-space: nowrap;
  overflow-x: auto;
  padding: 15px 0;
}
.sp-content-nb a {
  border-radius: 6px;
  background: rgb(241, 241, 241);
  border: 1px solid rgb(214, 214, 214);
  padding: 9px 7px;
  font-size: 12px;
  /* display: flex; */
  /* margin-left:0; */
}
.dt-nb {
  font-size: 28px;
  font-weight: bold;
}
.th-dt-1 {
  margin-right: 4px;
  /* scroll-snap-align: start;  */
}
.xtc-dt {
  display: none;
  font-size: 14px;
}
@media screen and (max-width: 1032px) {
  .xtc-dt {
    display: block;
  }
}
@media screen and (max-width: 541px) {
  .dt-nb {
    font-size: 22px;
  }
}
/* .conetnt-sp-chinh-center {
  display: flex;
} */
.conetnt-sp-chinh-center {
  background: pink;
  width: clamp(10px, 100%, 1100px);
  min-height: 100px;
  margin: 0 auto;
}
.content-sp-chinh_5 {
  display: flex;
}
.content-sp-chinhtong {
  background: rgb(194, 52, 106);
  width: 18%;
  min-height: 250px;
  border-radius: 15px;
}
.content-spchinh img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
/* =======test chữ nhỏ  */
.giam-them-sp-chinh {
  font-size: 10px;
}
.box-thetd-spchinh p {
  font-size: clamp(10px, 1vw, 1.2vw);
}
.content-spchinh p {
  font-size: clamp(14px, 1vw, 1.4vw);
}
